.mainContainer{
    display: flex;
}

.mainContainer{
    display: flex;
    flex-direction:column;
}
.image{
    align-self: center;
    height:650px;
    /* filter: blur(10px); */
}
.loaderContainer{
    align-self: center;
   
    border-style: solid;
    border-width: 2px;
    border-color: #c5c5c5;
    border-radius: 10px;
   
    display: flex;
    justify-content: center;
}
.loader {
    
    align-self: center;
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #c5c5c5
    ; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }