.App {
  text-align: center;
  /* width: 90%; */
  display: flex;
  align-self: center;
}

.contentWrapper {
  list-style-type: none;
  width: 50%;
}

.item {
  display: flex;
  align-items: center;
  margin: 15px 0;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}
